body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
*,
*::before,
*::after {
  box-sizing: border-box; /* HW-3 */
}
img {
  display: block; /* HW-3 */
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

/* header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding-left: 156px;
  padding-right: 156px;
  width: 100%;
}

.header-section {
  /* display: flex; 
  flex-direction: row;
  justify-content: space-between; /* Распределяем элементы по ширине */
  align-items: center; Центрируем элементы по вертикали */
}
.container-nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Распределяем элементы по ширине */
  align-items: center; /* Центрируем элементы по вертикали */
  gap: 76px;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio {
  color: #2e2f42;
}
.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Распределяем элементы по ширине */
  align-items: center; /* Центрируем элементы по вертикали */
  gap: 40px;
}
.header-nav-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-nav-item:hover {
  color: #404bbf;
}

.header-nav-item:focus {
  color: #404bbf;
}

.header-adress {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-adress:hover {
  color: #404bbf;
}
.header-adress:focus {
  color: #404bbf;
}
.container-address-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}
/* Main */

.page-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  display: block;
  width: 496px;
  margin: auto;
  margin-bottom: 48px;
}
.section-page-title {
  background-color: #2e2f42;
  
}
.titel{
  padding-top: 188px;
  padding-bottom: 188px;
}
.title-section-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;

  display: block;
  margin: auto;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  border-radius: 4px;
}
.title-section-button:hover {
  background-color: #404bbf;
}
.title-section-button:focus {
  background-color: #404bbf;
}
.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.section-features {
  padding-left: 156px;
  padding-right: 156px;
  padding-bottom: 120px;
  padding-top: 120px;
}
.section-title {
  line-height: 1.2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
.section-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}
.section-features-list {
  width: calc((100% - 24px * 3) / 4);
}
.column-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: #2e2f42;
}

.section-title .our-team {
  margin-bottom: 72px;
}

.team-section-wrapper .team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 156px;
  padding-right: 156px;
  padding-bottom: 120px;
  margin-top: 72px;
}

.team {
  gap: 24px;
}

.team-section-list {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  /* width: calc((100% - 24px * 3) / 4); */
}

.team-section {
  background: #f4f4fd;
  padding-top: 120px;
  margin-bottom: 120px;
}

.team-member-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.section-title .portfolio {
  margin-bottom: 72px;
  text-align: center;
}
.portfolio-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  row-gap: 48px;
  column-gap: 24px;
  padding-left: 156px;
  padding-right: 156px;
  padding-bottom: 120px;
  margin-top: 72px;
}
/* .portfolio-list-item {
  width: calc((100% - 24px * 3) / 4);
} */
.our-portfolio {
  padding-top: 32px;
  padding-left: 16px;
  margin-bottom: 8px;
}

.text-wrapper {
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}
.text-portfolio {
  padding-bottom: 32px;
  padding-left: 16px;
}

/* footer */
.footer {
  background: #2e2f42;
}
.footer-text{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-studio {
  color: #f4f4fd;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 156px;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 16px;
}
